.border,.border-b,.border-l,.border-r,.border-t,.border-tb {
    position: relative
}

.border:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 1px;
    border: 1px solid #c7c7c7;
    color: #c7c7c7;
    height: 200%;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(.5);
    transform: scale(.5)
}

.border-t:before {
    top: 0;
    border-top: 1px solid #c7c7c7;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5)
}

.border-b:after,.border-t:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    color: #c7c7c7
}

.border-b:after {
    bottom: 0;
    border-bottom: 1px solid #c7c7c7;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5)
}

.border-tb:before {
    top: 0;
    border-top: 1px solid #c7c7c7;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5)
}

.border-tb:after,.border-tb:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    color: #c7c7c7
}

.border-tb:after {
    bottom: 0;
    border-bottom: 1px solid #c7c7c7;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5)
}

.border-l:before {
    left: 0;
    border-left: 1px solid #c7c7c7;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5)
}

.border-l:before,.border-r:after {
    content: " ";
    position: absolute;
    top: 0;
    width: 1px;
    bottom: 0;
    color: #c7c7c7
}

.border-r:after {
    right: 0;
    border-right: 1px solid #c7c7c7;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5)
}

html, body {
    height: 100%;
}

body {
    background: url('http://ommszbqtl.bkt.clouddn.com/bg.png') center bottom repeat-y;
    background-size: contain;
}
a {
    text-decoration: none;
}
.n-container {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    padding-bottom: .6rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.footer {
    position: relative;
    height: .6rem;
    bottom: 0;
    margin-top: -.6rem;
    background: url('../images/footer.png') center center no-repeat;
    background-size: auto .227rem;
}
